
#url{
    visibility: hidden;
}

#urlForecast{
    visibility: hidden;
}

#url_visibility{
    visibility: hidden;
}

.table-reponsive{
    background-color: rgb(80, 191, 255);
    position: relative;
    text-align: center;
    border-radius: 10px;
	
}

#card {
	background: #fff;
	position: static;
    text-align: center;
   
   
}

#prev {
    background-color: rgb(80, 191, 255);
	background: #fff;
	position: static;
    text-align: center;
    
   
}
.temp {
	font-size: 73px;
	display: block;
	position: relative;
	font-weight: bold;
}





