#url {
    color: red;
    display: none;
}
#meteo {
    background: rgb(16, 109, 163);
    color: white;
}
#latitude {
    background: rgb(163, 75, 16);
    color: white;
}
#longitude {
    background: rgb(16, 109, 163);
    color: white;
}
#humidity {
    background: rgb(16, 109, 163);
    color: white;
}
#precipitation_mode {
    background: rgb(16, 26, 163);
    color: white;
}
#pressure {
    background: blue;
    color: white;
}
#temp_min {
    background: blue;
    color: white;
}
#temp_max {
    background: red;
    color: white;
}
#speed {
    background:green;
    color: white;
}
#direction {
    background:green;
    color: white;
}
#clouds {
    background: greenyellow;
    color: white;
}